<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Profile</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <p>Username: <%= user.username || 'Unknown' %></p>
  <a href="/posts">Back to Posts</a>
</body>
</html>